/*Archivo css para estilo de sitio web Waresoft*/

/*inicio estlio template head y footer*/

.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 30px;
    font-size: 14px;
    font-family: 'Montserrat';
    color: var(--colorLetra);

}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #1D82C2;


}

.navbar-brand {
    padding-left: 40px;
}


@media (max-width:992px) {

    #linkedin {
        display: none;
    }

    #facebook {
        display: none;
    }

    #insta {
        display: none;
    }

    .navbar-brand {
        padding-left: 0px;
    }


    .nav-justified>li>a span {

        font-size: 14px !important;
    }

    #myCarousel .nav {
        display: inline-block;
        overflow: auto;
        overflow-y: hidden;
        max-width: 90%;
        white-space: nowrap;
        margin-right: 0px !important;
        padding-top: 20px;
        padding-bottom: 20px;



    }

    .nav-justified>li {

        display: inline-block;
        vertical-align: top;
    }

    .nav::-webkit-scrollbar {
        display: none;
    }


    .nav-justified>li>a {
        font-size: 48px !important;
        padding-left: 5px !important;


    }



    .titulosSlider {
        font-size: 50px !important;
    }

    .borderCol {
        background-size: 85px !important;
    }




    .activeServicios2 {
        background-position: 1px 2px !important;

    }

    .colImg {
        background-size: 80px !important;
        background-position: right 120% !important;
        display: none !important;
    }

    .col2 {
        display: none;
    }


    .decoracion .profile {
        width: 100px;
        height: 100px;
        margin-left: -10px;
    }

    .cards {
        margin-top: 60px;

    }

    .wsacademy {
        display: none;
    }

    .wsacademyMobile {

        display: inline-block !important;

    }

    .marginsuperior .margin-left {
        margin-left: 0px;
    }

    .info .margin-left {
        margin-left: 40px;
    }

    .nosotros .margin-left {
        margin-left: 0px;
    }




    #btnScroll {
        display: none;

    }


    #btnScroll2 {
        display: none;

    }

    .text-center .btnScrollMobile {
        display: inline-block;
    }



    .botonesMobile {
        display: inline-block !important;
    }

    #item-3:checked~.cards #selector-1,
    #item-1:checked~.cards #selector-2,
    #item-2:checked~.cards #selector-3 {
        transform: translateX(0%) scale(0.8) !important;
        opacity: 0.6;
        z-index: 0;
    }

    .container__slider {
        margin-bottom: 480px !important;
    }

    .container__slider2 {
        margin-top: -50px !important;
    }

    #item-8:checked~.cards #selector-5,
    #item-5:checked~.cards #selector-6,
    #item-6:checked~.cards #selector-7,
    #item-7:checked~.cards #selector-8 {
        transform: translateX(0%) scale(0.8) !important;
        opacity: 0.6;
        z-index: 0;
    }

    #item-7:checked~.cards #selector-5,
    #item-8:checked~.cards #selector-6,
    #item-6:checked~.cards #selector-8,
    #item-5:checked~.cards #selector-7 {
        transform: translateX(0%) scale(0.8) !important;
        opacity: 0;
        z-index: 0;
    }

}

@media (min-width: 992px) {

    .carousel-item {
        height: calc(110vh - 73px) !important;

    }

    .InfoFooter {
        text-align: left;
    }

}

.colImg {

    background-image: url("../../resources/img/Group6.png");
    background-repeat: no-repeat;
    background-position: right 105%;
    background-size: 130px;
    transition: .6s;
}

@media (max-width: 991px) {
    #titulo1 {
        font-size: 35px !important;
    }

    .item .buttonServicios {
        font-size: 20px;
    }

    .item .buttonServicios2 {
        font-size: 20px;

    }

    .listaServicios {
        line-height: 150% !important;
    }

    .indicadores {
        display: none;
    }


}


@media (max-width:1024px) {
    .borderCol {
        background-size: 85px !important;
    }
}


@media (max-width:349px) {

    .nav-justified>li>a {
        font-size: 30px !important;
        padding-left: 15px !important;
        margin-right: 10px !important;


    }

    .nav-justified>li>a span {

        font-size: 11px !important;
    }


    .titulosSliderImage {
        font-size: 12px !important;
    }

    #myCarousel .nav {

        max-width: 90% !important;
    }

    .item .buttonServicios2 {
        font-size: 14px;
    }


    .item .buttonServicios {
        font-size: 14px;
    }

    .buttonServicios2.activeServicios2 {
        font-size: 16px !important;
    }

    .buttonServicios.activeServicios {
        font-size: 16px !important;

    }


    .colImg {
        background-size: 80px !important;
        background-position: right 110% !important;
    }


    #badgeMobile .numerows {

        margin-top: 20px;
        font-size: 120px;
    }


}


.navbar {
    background-color: var(--color-fondo);
    /*transition: .6s;*/


}


@media(max-width:767px) {

    #colForm {
        display: none;
    }

    .marginImg {
        margin-top: 50px !important;
    }

    .titulosExperiencia {
        font-size: 28px !important;
    }

    .margenform #badgeMobile {
        display: flex;
    }


    .row-cols-2>* {
        flex: 0 0 auto;
        width: 100% !important;
    }

    .vertical.carousel .carousel-indicators {
        flex-direction: row !important;
        top: unset !important;
        right: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
    }

    .vertical.carousel .carousel-item-next:not(.carousel-item-start),
    .vertical.carousel .active.carousel-item-end {
        transform: translateX(100%) !important;
    }

    .vertical.carousel .carousel-item-prev:not(.carousel-item-end),
    .vertical.carousel .active.carousel-item-start {
        transform: translateX(-100%) !important;
    }



}





.current {

    color: #1D82C2 !important;
    font-weight: 600;
}


footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--color-fondo);
    text-align: center;
    color: var(--colorLetra);


}


.worksans {

    font-family: 'Montserrat';
    color: var(--colorLetra);
    font-size: 11px;
    transition: .6s;
}

/*fin estlio template head y footer*/


/*inicio estilos form y responsive*/

.forms {

    font-family: 'Montserrat';
    font-weight: 600;
    color: #9FA2B4;
    font-size: 12px;

}

#badgeMobile {
    display: none;
}

.forms-input {

    font-family: 'Montserrat';
    font-weight: 400;
    color: #4B506D;
    font-size: 12px;
    height: 50px;
    border-radius: 8px;
    padding-top: 0px;
}


.forms-textarea {

    font-family: 'Montserrat';
    font-weight: 400;
    color: #4B506D;
    font-size: 12px;
    border-radius: 8px;
    padding-top: 10px;
}

.forms-button {
    width: 300px;
    font-family: 'Montserrat';
    font-weight: 400;
    height: 50px;
    font-size: 12px;
    box-shadow: 0px 4px 12px rgba(55, 81, 255, 0.24);
    border-radius: 8px;


}

@media(max-width: 1200px) {


    .forms-button {
        width: 200px;
        font-family: 'Montserrat';
        font-weight: 400;
        height: 50px;
        font-size: 12px;
        box-shadow: 0px 4px 12px rgba(55, 81, 255, 0.24);
        border-radius: 8px;


    }

    .titulosSlider {
        font-size: 40px !important;
    }

    .titulosSliderImage {
        font-size: 12px !important;
    }




}

@media(max-width:1279px) {
    .titulosSlider {
        font-size: 40px !important;
    }

    .titulosSliderImage {
        font-size: 14px !important;
    }


}


.marginsuperior {
    margin-top: -30px;
}

.marginDetalles {
    margin-top: 50px;
}

.marginImg {
    margin-top: 100px;
}



.titulosHorizontal {
    color: #35A8E0;
    font-family: 'Montserrat';
    position: absolute;
    transform: rotate(-90deg);
    margin: 50px;
    margin-left: -407px;


}


.headers {
    font-weight: 700;
    font-family: 'Montserrat';
    color: var(--colorLetra);
    transition: var(--animation);

}


.headerceleste {
    color: #35A8E0;
    font-family: 'Montserrat';
    transition: var(--animation);
}

.numerows {
    font-weight: 700;
    color: #35A8E0;
    font-size: 160px;
    font-family: 'Montserrat';
    letter-spacing: -25px;
    transition: var(--animation);

}

.margenform {
    margin-top: 60px;
}

/*fin estilo form*/


/*inicio estilo slider */

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}


.slider {
    background: var(--colorSlider);
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 250px;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    animation: scroll 50s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.slider .slide {
    height: 100px;
    width: 250px;
}

/*fin estilos infinite slider*/


/*inicio estilos banner wsacademy*/

.wsacademy {

    background: var(--bannerWs);
    margin: auto;
    overflow: hidden;
    position: relative;
    transition: var(--animation);

}

.imgwsacademy {

    margin-top: 120px;
    margin-left: -270px;
    width: 520px;
    height: 160px;
}

.textowsacademy {
    color: var(--colorTexto);
    font-family: 'Montserrat';
    margin-left: -250px;
    transition: .6s;
    font-size: 14px;
    margin-top: 25px;
    margin-bottom: 30px;
}

.mobileText {
    color: var(--colorTexto);
    font-family: 'Montserrat';
    padding: 40px;
    transition: .6s;

}

.botonwsacademy {

    color: black;
    font-family: 'Montserrat';
    border-radius: 10px;
    background: #58C8C7;
    font-size: 14px;
    width: 200px;
    height: 41px;
    padding-top: 8px;
    margin-left: -250px;
    transition: .6s;
}

.botonwsacademy:active {

    color: black;
    font-family: 'Montserrat';
    border-radius: 10px;
    background: #58C8C7;
    font-size: 14px;
    width: 200px;
    height: 41px;
    padding-top: 8px;




}

.botonwsacademy:hover {

    color: white;
    font-family: 'Montserrat';
    border-radius: 10px;
    background: #58C8C7;
    font-size: 14px;
    width: 200px;
    height: 41px;
    transition: .6s;





}

.botonwsacademy:focus {

    color: black;
    font-family: 'Montserrat';
    border-radius: 10px;
    background: #58C8C7;
    font-size: 14px;
    width: 200px;
    height: 41px;



}

.wslink {
    margin-left: 300px;
    position: absolute;
    margin-top: 370px;
    color: #35A8E0;
    font-family: 'Montserrat';
    border: none;
    font-weight: 700;


}

.wslink:hover {
    color: #1D82C2;

}

.wslink:active {
    color: #35A8E0;
}


.wslink:focus {
    color: #35A8E0;
}

.wsacademylinks {

    font-family: 'Montserrat';
    color: var(--colorTexto);
    font-size: 12px;
    font-weight: 400;
    transition: .6s;
}


.links {
    border-top: 50px;
    padding-top: 10px
}


.wsacademyMobile {

    background: var(--colorBanner);
    margin: auto;
    overflow: hidden;
    position: relative;
    display: none;
    transition: var(--animation)
}

/*fin estilos banner wscademy*/

/*inicio configuraciones modo oscuro*/

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #35A8E0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.colorLetra {
    color: black;
}

body {
    background-color: var(--body-color);
    transition: var(--animation);
}


#claro {
    color: white;
    padding-top: 10px;
    border: none;
}

#claro:hover {

    color: yellow;
}

#oscuro {
    color: black;
    padding-top: 10px;
    border: none;
}

#oscuro:hover {

    color: gold;
}

.navbar-toggler {
    border: none;
    transition: .6s;

}

.navbar-toggler:focus {

    border: none;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0);
}

.navbar-toggler:active {

    border: none;
}



.navbar-toggler-icon {
    background-image: var(--imgToggle);
    transition: .6s;
}

.margenModo {
    margin-left: 30px
}

/* fin configuraciones modo oscuro*/

/*inicio estilos carousel*/
#myCarousel .nav a small {
    display: block;
}

.carousel-item {
    height: calc(100vh - 73px);
    background: var(--color-fondo);
    transition: .6s;
}

#myCarousel .nav {
    background: var(--color-fondo);
    transition: 0.6s;
    position: absolute;
    bottom: 0;
    right: 0;
}

.nav-justified>li>a {
    border-radius: 0px;
    text-decoration: none;
    font-size: 60px;
    font-weight: 700;
    font-family: 'Montserrat';
    color: var(--colorLetra) !important;
    width: 250px;
    background-color: var(--color-fondo);
    border: none;
    transition: 0.6s;
    padding-left: 50px;
    text-align: center;
    margin-right: 20px;


}


.nav-justified>li>a:focus {

    color: var(--colorLetra) !important;

}


.nav-justified>li>a:hover {
    color: #35A8E0 !important;
    transition: 0.6s;

}

.nav-justified>li>a span {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Montserrat';
    color: var(--colorLetra) !important;
    transition: 0.6s;
    display: inline-block;
    position: relative;
    text-align: left;



}


.nav-pills>li[data-bs-slide-to="0"].active a {
    color: #35A8E0 !important;
}

.nav-pills>li[data-bs-slide-to="1"].active a {
    color: #35A8E0 !important;
}

.nav-pills>li[data-bs-slide-to="2"].active a {
    color: #35A8E0 !important;
}

.nav-pills>li[data-bs-slide-to="3"].active a {
    color: #35A8E0 !important;
}



.titulosSlider {

    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 80px;
    color: white;
    justify-content: left;
    text-align: left;
    transition: .6s;
    margin-left: 20px;


}

.headercelesteSlider {
    justify-content: left;
    color: #35A8E0;
    font-family: 'Montserrat';
    transition: var(--animation);
    text-align: left;
    transition: .6s;


}


.titulosSliderImage {
    color: white;
    font-family: 'Montserrat';
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    transition: .6s;
    margin-top: 20px;
    margin-left: 20px;

}

.titulosSliderImage2 {
    color: white;
    font-family: 'Montserrat';
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    transition: .6s;
    margin-top: -20px;
}

.btnSlider {
    color: white;
    font-family: 'Montserrat';
    border: none;
    font-weight: 700;
    transition: .6s;
    margin-left: 20px;


}

.btnSlider:hover {
    color: #35A8E0;
    transition: .6s;

}

.borderCol {

    background-image: url("../../resources/img/Rectangle.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 130px;
    transition: .6s;


}

.decoracion {
    background-image: url("../../resources/img/comilla.png");
    background-repeat: no-repeat;
    background-position: 85% 20% !important;
    background-size: 50px;
    transition: .6s;

}

/*fin estilos carousel*/


/*inicio estilo slider experiencia*/
.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: var(--dot-colors);
    background-clip: padding-box !important;
    opacity: var(--opacity) !important;

}

.carousel-indicators .active {
    opacity: 1;
    background: #35A8E0 !important;
    background-clip: padding-box !important;
}

.tituloExperiencia {
    color: #35A8E0;
    font-family: 'Montserrat';
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    transition: .6s;
    margin-top: 20px;
    text-align: left;
    transition: .6s;

}


.titulosExperiencia {

    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 48px;
    color: var(--colorLetra);
    justify-content: left;
    text-align: left;
    transition: .6s;

}


.parrafoExperiencia {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: var(--colorLetra);
    text-align: justify;
    transition: .6s;

}

.parrafoExperiencia2 {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: var(--colorLetra);
    text-align: justify;
    transition: .6s;
    cursor: pointer;

}

.titulosParrafos {

    color: var(--colorLetra);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 39px;
    text-transform: uppercase;
    transition: .6s;
    cursor: pointer;
    text-align: justify;

}

.prev {
    color: var(--colorPrev);
    transition: .6s;
}

.next {
    color: var(--colorNext);
    transition: .6s;



}

.on {
    color: var(--colorOn);
    transition: .6s;


}

.btnExp {
    background-color: #35A8E0;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    border-radius: 0px;
    width: 195px;
    height: 52px;
    padding-top: 15px;
    border: none;
    transition: .6s;

}

.btnExp:hover {

    background-color: #1D82C2;
    transition: .6s;

}

.btnExp:active {
    background-color: #35A8E0;

}


.btnExp:focus {
    background-color: #1D82C2;

}

.indicadores {

    position: absolute;
    margin-left: 350px;
    margin-top: 60px;
    justify-content: center;
}

.botonesindicador {
    width: 10px;
    height: 12px;
    border-radius: 100%;
    background-color: var(--dot-colors);
    background-clip: padding-box !important;
    opacity: var(--opacity) !important;
    border: none;
    transition: .6s;
    margin-left: 10px;

}

.activeIndicador {
    opacity: 1;
    background: #35A8E0 !important;
    background-clip: padding-box !important;
    transition: .6s;

}




/*final estilo slider experiencia*/


/*inicio slider servicios*/

.buttonServicios {
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 400;
    color: #787878;
    transition: var(--animation);
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: .6s;

}

.buttonServicios:hover {
    color: var(--colorLetra);
    transition: .6s;

}


.buttonServicios:active {
    color: var(--colorLetra);
    border: none;

}

.buttonServicios:focus {
    color: var(--colorLetra);
    border: none;
}

.listaServicios {
    justify-content: left;
    list-style: none;
    padding-left: 2px;
}


li.menu-item {
    margin: 0 0 10px 0;
}

.item {
    margin-bottom: 15px;

}

.activeServicios {
    color: var(--colorLetra) !important;
    transition: .6s;
    font-size: 22px !important;

}



.buttonServicios2.activeServicios2 {
    color: var(--colorLetra) !important;
    transition: .6s;
    font-size: 22px;
    background: url('../../resources/img/flecha.png');
    background-repeat: no-repeat;
    background-position: 1px 21px;
    background-size: 15px;
    padding-left: 20px
}


.marginVideo {

    margin-top: 50px;
    transition: .6s;
}

/*fin slider servicios*/

/*inicio slider nosotros*/


.layout {
    border: 4px solid #35A8E0;
    transition: .6s;
}


.tarjeta {
    content: "";
    background-color: var(--color-fondo);
    height: 352px !important;
    border: 3px solid #35A8E0;
    transition: .6s;
}



.profile {
    width: 80px !important;
    height: 80px !important;
    margin-top: -60px !important;
    border-radius: 50% !important;

}

.comilla {

    font-size: 40px;
    font-weight: 700;
    font-family: 'Montserrat';
    color: #35A8E0;
    text-align: right;
    transition: .6s;
}

.rol {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--colorLetra);
    text-align: left;
    transition: .6s;


}

.nombres {

    margin-top: 14px;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Montserrat';
    color: var(--colorLetra);
    text-align: left;
    transition: .6s;


}

.parrafoEquipo {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--colorLetra);
    text-align: justify;
    transition: .6s;


}


.btnTeam {
    font-family: 'Montserrat';
    border: none;
    font-weight: 700;
    transition: .6s;
    text-align: right;
    color: #35A8E0;




}

.btnTeam:hover {
    transition: .6s;

    color: #1D82C2;

}

/*fin slider nosotros*/

/*inicio estilos tarjeta*/

.parrafoCard {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: justify;
    color: var(--colorLetra);
    margin: 20px;
    transition: var(--animation);
}

.headersTarjeta {
    font-weight: 700;
    font-family: 'Montserrat';
    color: var(--colorLetra);
    transition: var(--animation);
    font-size: 28px;
    margin-top: 50px;

}


.content {
    transition: .6s;
    cursor: pointer;

}

.contenido {
    opacity: 0;
    transition: .6s;

}

.content:hover {
    transition: .6s;
    background: var(--color-fondo) !important;



}

.content:hover .contenido {
    opacity: 1;
    transition: .6s;

}


.buttonServicios2 {
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 400;
    color: var(--colorPrev);
    transition: var(--animation);
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: .6s;
    text-transform: uppercase;
}

.buttonServicios2:hover {
    color: var(--colorLetra);
    transition: .6s;

}


.buttonServicios2:active {
    color: var(--colorLetra);
}

.buttonServicios2:focus {
    color: var(--colorLetra);
}

.imagenesServicios {
    border-radius: 0% 0% 30px 30px;
    ;
}

.headerServicios {
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 400;
    color: var(--colorLetra);
    margin-top: 30px;
    transition: .6s;
    text-transform: uppercase;
}

.servicios {
    transition: .6s;
}

.grecaptcha-badge {
    visibility: hidden;
}



.loadingForm {
    color: var(--color-spinner);
    transition: .6s;
}


.margin-left {

    margin-left: 50px
}


.selectedCard {
    opacity: 1;
}

.nextCard {
    opacity: 0.3;
}


.prevCard {
    opacity: 0.2;
}


.titleTeam {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;


    text-transform: uppercase;

    color: var(--colorLetra);
    transition: .6s;

}

.info {
    background: url('../../resources/img/flecha.png');
    background-repeat: no-repeat;
    background-position: -1px 5px;
    background-size: 20px;

}


.vertical.carousel .carousel-item {
    overflow: hidden;
    height: 400px !important;
}

.vertical.carousel .carousel-item-next:not(.carousel-item-start),
.vertical.carousel .active.carousel-item-end {
    transform: translateY(100%);
}

.vertical.carousel .carousel-item-prev:not(.carousel-item-end),
.vertical.carousel .active.carousel-item-start {
    transform: translateY(-100%);
}

.vertical.carousel .carousel-indicators {
    top: 0;
    left: unset;

    margin-left: unset !important;
    margin-right: 1rem;

    flex-direction: column;
}

.vertical.carousel .carousel-control-prev,
.vertical.carousel .carousel-control-next {
    width: 100%;
    height: 60px;
}

.vertical.carousel .carousel-control-prev-icon,
.vertical.carousel .carousel-control-next-icon {
    transform: rotateZ(90deg);
}

.vertical.carousel .carousel-control-next {
    top: unset;
    bottom: 0;
}

.owl-carousel .owl-item {
    transition: all 0.3s ease-in-out;
}

.owl-carousel .owl-item .card {
    padding: 30px;
    position: relative;
    background-color: var(--color-fondo);
    border: none;
    border: 4px solid #35A8E0;

}

.owl-carousel .owl-stage-outer {
    overflow-y: auto !important;
    padding-bottom: 40px;
}

.owl-carousel .owl-item img {
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
}


.owl-carousel .owl-item .card {
    opacity: 0.2;
    transform: scale3d(0.8, 0.8, 0.8);
    transition: all 0.3s ease-in-out;
}

.owl-carousel .owl-item .card .testimonial {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--colorLetra);
    text-align: left;
    transition: .6s;
}

.owl-carousel .owl-item.active.center .card {
    opacity: 1;
    transform: scale3d(1, 1, 1);
}

.owl-carousel .owl-dots {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.owl-theme .owl-dots .owl-dot span {
    background: var(--dot-colors) !important;
    border-radius: 50% !important;

    opacity: 0.8;
}

/* .owl-carousel .owl-dots.disabled {
    display: inline-block !important;
} */

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {

    opacity: 1;
    background: #35A8E0 !important;
    border-radius: 50%;
}

@media(min-width: 480.6px) and (max-width: 575.5px) {
    .owl-carousel .owl-item .card .name {
        left: 24%;
    }
}

@media(max-width: 360px) {
    .owl-carousel .owl-item .card .name {
        left: 30%;
    }
}


.item-padding {
    padding: 5px;
}

.nosotros {
    background: url('../../resources/img/fondoNostros.png');
    margin: auto;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;

}

.nosotros .headers {
    font-weight: 700;
    font-family: 'Montserrat';
    color: white;
    padding-left: 50px;
    padding-top: 50px;
}


.nosotros .subtitulo {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: white;
    padding-left: 50px;
    padding-bottom: 50px;
}

.wrapper {

    overflow-x: auto;
    flex-wrap: nowrap;
    display: flex;
    scroll-behavior: smooth;

}

.wrapper .item {


    margin-right: 50px;
    padding: 35px;
    display: inline-block;
    float: none;

}

.wrapper::-webkit-scrollbar {
    display: none;
}



.btnScroll {
    background-color: transparent;
    width: 110px;
    margin-right: 40px;
    border: none;
    background: url('../../resources/img/flechaSlide.png');
    background-repeat: no-repeat;
    background-position: center;
}

.btnScroll:hover {
    border: none;

}

.btnScroll:active {
    border: none;
}

.btnScroll:disabled {
    border: none;
}

.btnScroll:focus {
    border: none;
}


.btnScroll2 {
    background-color: transparent;
    width: 110px;
    margin-right: 40px;
    border: none;
    background: url('../../resources/img/flechaSlide2.png');
    background-repeat: no-repeat;
    background-position: center;
}

.btnScroll2:hover {
    border: none;
}

.btnScroll2:active {
    border: none;
}

.btnScroll2:disabled {
    border: none;
}

.btnScroll2:focus {
    border: none;
}

/*Estilos comentariados para uso posible en un futuro */
/* .btnScrollMobile {
    margin-top: 20px;
    background-color: transparent;
    width: 110px;
    border: none;
    background: url('../../resources/img/flechaSlide.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
}

.btnScrollMobile:hover {
    border: none;
}

.btnScrollMobile:active {
    border: none;
}

.btnScrollMobile:disabled {
    border: none;
}

.btnScrollMobile:focus {
    border: none;
}

.btnScrollMobile2 {
    margin-top: 20px;
    background-color: transparent;
    width: 110px;
    border: none;
    background: url('../../resources/img/flechaSlide2.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    display: none;
}

.btnScrollMobile2:hover {
    border: none;
}

.btnScrollMobile2:active {
    border: none;
}

.btnScrollMobile2:disabled {
    border: none;
}

.btnScrollMobile2:focus {
    border: none;
}

.botonesMobile{
    display: none;
}
 */


#item-2:checked~.cards #selector-1,
#item-1:checked~.cards #selector-3,
#item-3:checked~.cards #selector-2 {
    transform: translateX(-40%) scale(0.8);
    opacity: 0.6;
    z-index: 0;
}

#item-3:checked~.cards #selector-1,
#item-1:checked~.cards #selector-2,
#item-2:checked~.cards #selector-3 {
    transform: translateX(40%) scale(0.8);
    opacity: 0.6;
    z-index: 0;
}

#item-1:checked~.cards #selector-1,
#item-2:checked~.cards #selector-2,
#item-3:checked~.cards #selector-3 {
    transform: translateX(0) scale(1);
    z-index: 1;
}


.card {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color: var(--body-color);
    padding: 20px;
    border-radius: 0px !important;
    transition: .6s;
}

.container__slider {

    margin-top: 90px;
    margin-bottom: 360px;

}


.container__slider2 {
    margin-top: 10px;
    margin-bottom: 360px;
}



#item-6:checked~.cards #selector-5,
#item-5:checked~.cards #selector-8,
#item-7:checked~.cards #selector-6,
#item-8:checked~.cards #selector-7 {
    transform: translateX(-40%) scale(0.8);
    opacity: 0.6;
    z-index: 0;
}

#item-8:checked~.cards #selector-5,
#item-5:checked~.cards #selector-6,
#item-6:checked~.cards #selector-7,
#item-7:checked~.cards #selector-8 {
    transform: translateX(40%) scale(0.8);
    opacity: 0.6;
    z-index: 0;
}

#item-5:checked~.cards #selector-5,
#item-6:checked~.cards #selector-6,
#item-7:checked~.cards #selector-7,
#item-8:checked~.cards #selector-8 {
    transform: translateX(0) scale(1);
    z-index: 1;
}

#item-7:checked~.cards #selector-5,
#item-8:checked~.cards #selector-6,
#item-6:checked~.cards #selector-8,
#item-5:checked~.cards #selector-7 {
    transform: translateX(40%) scale(0.8);
    opacity: 0;
    z-index: 0;
}

#more {
    display: none;
    transition: .6s;
    color: var(--colorLetra);
}

.btnRead {
    color: #35A8E0;
    border: none;
    text-align: right;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin: -15px;
    margin-right: 5px;
}

.btnRead:hover {

    color: #1D82C2;
    border: none;

}

.btnRead:active {
    color: #35A8E0;
    border: none;


}

.btnRead:focus {
    color: #35A8E0;
    border: none;
}


.iconos {
    font-size: 17px !important;
    vertical-align: middle;
}


.teamLink {
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    color: #35A8E0;
    text-align: right;

}

.teamLink:hover {
    color: #1D82C2;
}